*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3.5em;
    color: rgb(235, 217, 121);
    letter-spacing: 5px;
}

.wrapper{
    width: 100%;
    height: 50%;
    position: relative;

}
.wrapper div{
    width: 70px;
    height: 70px;
    border: 5px solid rgb(243, 205, 102);
    position: absolute;
    border-radius: 50%; 
}

.wrapper div:nth-child(1){
    top: 10%;
    left: 30%;
    animation: circle 5s linear infinite;
}
.wrapper div:nth-child(2){
    top: 20%;
    left: 50%;
    animation: circle 7s linear infinite;
}
.wrapper div:nth-child(3){
    top: 60%;
    left: 10%;
    animation: circle 9s linear infinite;
}
.wrapper div:nth-child(4){
    top: 50%;
    left: 40%;
    animation: circle 11s linear infinite;
}
.wrapper div:nth-child(5){
    top: 40%;
    left: 60%;
    animation: circle 7s linear infinite;
}
.wrapper div:nth-child(6){
    top: 80%;
    left: 30%;
    animation: circle 13s linear infinite;
}
.wrapper div:nth-child(7){
    top: 10%;
    left: 10%;
    animation: circle 12s linear infinite;
}
.wrapper div:nth-child(8){
    top: 20%;
    left: 85%;
    animation: circle 8s linear infinite;
}
.wrapper div:nth-child(9){
    top: 75%;
    left: 65%;
    animation: circle 9s linear infinite;
}
.wrapper div:nth-child(10){
    top: 80%;
    left: 85%;
    animation: circle 7s linear infinite;
}

@keyframes circle{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(.8) translateY(90px) rotate(360deg);
        opacity: 0;
    }
}